<h2>Contact Messages</h2>
<a href="{{ url_for('logout') }}">Logout</a>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Action</th>
    </tr>

    {% for m in messages %}
    <tr>
        <td>{{ m.created_at }}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.phone }}</td>
        <td>{{ m.message }}</td>
        <td><a href="{{ url_for('delete', id=m.id) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>